.item3 {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
  display: flex;

  
  .boton {
    display: flex;
    justify-content: center;
  }
}

.h1 {
  font-family: "Old Standard TT";
}
